@model CoinExchange.Models.Database.Model.Wallet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Wallet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WalletName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WalletName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transactions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCurrentValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCurrentValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WalletID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
